.App {
  text-align: center;
}
.divTodo{
  
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.divcontador{
  margin-top: 5px;
}
.contadorX{
  background-color: #E63946;
  width: 2rem;

  padding-left: 4.5rem;
  padding-right: 4.5rem;

}
.contadorO{
  background-color: #A8DADC;
  margin-left: 10px;
  padding-left: 4.5rem;
  padding-right: 4.5rem;

}
.roomsDiv{
  display:flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;

}
.roomButton{
  width: 300px;
}
.divButtons{
  
  display: flex;
  flex-direction: column;
  gap: .5rem;
  
}

.buttton{
  width: 7rem;
  margin: 3px;
}
.butttonA{
  width: 12rem;

}